body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden; 
}

.container {
  width: 100%;
  position: relative; 
}


/* Left Panel Elements */
.panel-left {
  width: 11%;
  height: 100vh;
  background: #5D5FEF;
  left: 0;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  z-index: 1; 

}

.panel-left::after {
  content: "";
  width: 10px;
  height: 120%;
  background-color: #5D5FEF; 
  position: absolute;
  top: 0;
  right: 0;
}

.panel-content {
  display: flex;
  align-items: center;
}

.panel-image {
  height: 40px;
  width: 50px;
  position: absolute;
  left: 30px;
  border-radius: 7px;
  margin-right: 4px;
  border: 3px solid black;

}

h2 {
  color: #fff;
  position: absolute;
  left: 30%;
  font-size: 24px;
  font-weight: 200;
  font-family: 'Source Code Pro', monospace;
  text-shadow: 0px 1px 1px black;
  margin-left: 2%;
}

.button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.button-image {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  margin-right: 10px;
  border: 3px solid black;
}

.submit-btn0,
.submit-btn1,
.submit-btn2,
.submit-btn3,
.submit-btn4 {
  color: #A9A9A9;
  width: 130px;
  height: 57px;
  background: white;
  font-size: 20px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 600;
  border: 3px solid black;
  box-shadow: -4px 4px 0px black;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 30px;
  position: sticky;
}

.submit-btn0:hover,
.submit-btn1:hover,
.submit-btn2:hover,
.submit-btn3:hover,
.submit-btn4:hover {
  color: black;
}

.submit-btn0{
  margin-top: 30%;
}


.submit-btn4 {
  margin-top: 120px;
}

.button-image1 {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  margin-right: 10px;
  margin-top: 90px;
  border: 3px solid black;
}

.button-image2 {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  margin-right: 10px;
  margin-top: 45px;
  border: 3px solid black;
}

/* ------------------------------------------------------------------ */













/* Middle Panel Elements */



.middle {
  width: calc(100% - 11% - 30%); 
  height: 100%;
  position: absolute; 
  top: 0;
  left: 11%; 
  background-color: #F9FAFB;
}

.mid-text {
  font-size: 29px;
  position:absolute;
  top: 18px;
  left: 120px; 
  font-weight: 200;
  font-family: 'Source Code Pro', monospace;
  text-shadow: 0px 2px 2px black;
}

.sales {
  font-size: 29px;
  position:absolute;
  top: 90px;
  left: 120px; 
  font-weight: 200;
  font-family: 'Source Code Pro', monospace;
  text-shadow: 0px 2px 2px black;
}

.sales-sum {
  color: #A9A9A9;
  font-size: 27px;
  position:absolute;
  top: 145px;
  left: 120px; 
  font-weight: 200;
  font-family: 'Source Code Pro', monospace;
}


a {
  text-decoration: none;
  color: inherit;
}


.search{
    position: relative;
    left:20%;
    width: 40%;
    height: 55px;
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    background: #fcfcfc;
    border: 1px solid black;
    color: #d3d3d3;
    padding: 10px;
    transition: .5s;
}

.search::placeholder{
  position: relative;
  color: #a9a9a9;
  left: 30px;
}

.search:focus{
    background: #A9A9A9;
    color: #000;
}

.search:focus::placeholder{
    color: #000;
}

.srch {
  width: 20px;
  height:20px;
  position: relative;
  left: 51%;
  top: -57px;

}




.container1, .container2, .container3, .container4, .container5, .container6, .container7, .container8 {
  width: 171px;
  height: 263px;
  position: absolute;
  left: 17%;
  top: 25%;
}

.container2{
  left: 30%;

}

.container3{
  left: 43%;

}

.container4{
  left: 56%;

}

.container5, .container6, .container7, .container8{
  left: 17%;
  top: 60%;
}

.container6{
  left: 30%;

}

.container7{
  left: 43%;

}

.container8{
  left: 56%;

}

.green-box1, .green-box2, .green-box3, .green-box4, .green-box5, .green-box6, .green-box7, .green-box8 {
  width: 171px;
  height: 263px;
  top: 0px;
  position: relative;
  background: #5D5FEF;
  border-radius: 25px;
}

.image1, .image2, .image3, .image4, .image5, .image6, .image7, .image8 {
  width: 150px;
  height: 215px;
  bottom: 90%;
  left: 6%;
  position: relative;
  border-radius: 25px;
}

.image2{
  height: 200px;
}

.image3{
  height: 190px;
}

.blue-box1, .blue-box2, .blue-box3, .blue-box4 {
  width: 45px;
  height: 28px;
  left: 65px;
  bottom: 180%;
  position: relative;
  background: #6D96FF;
  border-radius: 25px;
}

.blue-box2{
  bottom: 175%;
}

.blue-box3{
  bottom: 173%;
}







/*Right Panel Elements */

.panel {
  width: 30%;
  height: 100%;
  position: absolute; 
  top: 0;
  right: 0;
  background-color: #F9FAFB;
}

.summary {
  font-size: 29px;
  position: absolute;
  top: 90px;
  font-weight: 200;
  font-family: 'Source Code Pro', monospace;
  text-shadow: 0px 2px 2px black;
  left: 5%;
}

.Avatar{
height: 80px;
width: 85px;
position: absolute;
left: 39%;
top: 1%;
}

.name{
  font-size: 18px;
  position: absolute;
  top: 1%;
  left: 54%;
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
}

.role{
  color: #A9A9A9;
  font-size: 18px;
  position: absolute;
  top: 3.5%;
  left: 57%;
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
}



.accounts {
  height: 30px; 
  width: 30px; 
  position: absolute;
  left: calc(100% + 475px);
  top: 54%;
  transform: translateY(79%);
  padding: 0;
  background-color: #ffffff; 
  background-image: url(../images/arrow.PNG);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  border: none; 
  border-radius: 50%; 
  cursor: pointer;
  z-index: 2; /* Ensure it's above other elements */
}



.dropdown {
  position: absolute;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  transform: translateX(255%);
  left: 30%;
  background-color: #fff; 
  min-width: 160px; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  z-index: 1;
  top: 55px;
}


.dropdown-content a {
  color: #000; 
  padding: 12px 16px; 
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #f1f1f1; 
}


.dropdown:hover .dropdown-content {
  display: block;
}



.outer-box, .outer-box1, .outer-box2, .outer-box3 {
  width: 44.88px;
  height: 76.92px;
  position: absolute;
  left: 70%;
  top: 38%;
}

.outer-box1{
  top: 53%;
}

.outer-box2{
  top: 68.2%;
}

.outer-box3{
  top: 83%;
}

.inner-box, .inner-box1, .inner-box2, .inner-box3 {
  width: 45px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
  background: #79a9f1;
  border-radius: 8px;
  border: 1px solid #0095FF;
}

.inner-box1{
  background: #acebaa;
  border: 1px solid #2aec2a;
}

.inner-box2{
  background: #d38dff;
  border: 1px solid #A020F0;
}

.inner-box3{
  background: #ffcf77;
  border: 1px solid #FFA500;
}


.percentage, .percentage1, .percentage2, .percentage3 {
  width: 23.34px;
  left: 10.77px;
  top: 30px;
  position: absolute;
  text-align: center;
  color: #034b7e;
  font-size: 13px;
  font-family: Open Sans;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}

.percentage1{
  color: #27a002;
}

.percentage2{
  color: #A020F0;
}

.percentage3{
  color: #c58206;
}





.line, .line1, .line2, .line3 {
  width: 30%;
  height: 1px; 
  background-color: #5D5FEF; 
  position: absolute;
  top: 35%; 
  right: 0;
  z-index: 1; 
}

.line1{
  top: 50%; 
}

.line2{
  top: 65%; 
}

.line3{
  top: 80%; 
}










#progress1, #progress2, #progress3, #progress4, .Items-pop {
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
  width: 150px;
  height: 30px;
  position: absolute;
  top: 40%;
  left: 40%;
}

#progress2{
  position: absolute;
  top: 55%;
  accent-color: #90EE90;
}

#progress3{
  position: absolute;
  top: 70.3%;
  accent-color: #A020F0;
}

#progress4{
  position: absolute;
  top: 85%;
  accent-color: #FFA500;
}

.Items-pop{
  font-size: 18px;
  top: 24%;

}






.Pancit, .Ligo, .Marlboro, .Coke, .Items-name, .Items-sale {
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  position: absolute; 
  top: 39%;
  left: 10%;

}

.Ligo{
  top: 54%;
}

.Marlboro{
  top: 69%;
}

.Coke{
  top: 84%;
}


.Items-name{
  top: 24%;

}



.ID, .ID1, .ID2, .ID3, .Items-number {
  font-weight: 600;
  font-family: 'Source Code Pro', monospace;
  font-size: 18px;
  position: absolute;
  top: 38%;
  left: 2%;
  margin-bottom: 10%; 

}

.ID1 {
  top: 53%;
}

.ID2 {
  top: 68%;
}

.ID3 {
  top: 83%;
}

.Items-number{
  top: 24%;

}

.Items-sale{
  top: 24%;
  left: 70%;
}


















/* ------------------------------------------------------- */
